/* Footer */
.vertical__padding{
    padding-top: 70px;
    padding-bottom: 130px;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--footer-main-color);
    color: #fff;
}
.copyright-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 225,255, 0.3);
}
.copyright{
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}
.footer-menus{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}
.footer-container{
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-content-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.footer-content-container img{
    height: 200px;
    width: 200px;
    padding-bottom: 1.5rem;
}
footer .webside-logo{
    margin-bottom: 1.2rem;
    font-size: calc(1vw +20);
}
.footer-info, 
.menu-item-footer{
    margin: 0.2rem 0;
    opacity:  0.7;
    color: var(--main-text-color);
    text-decoration: none;
    transition: 0.5s;  
}
.menu-item-footer:hover{
    opacity: 1;
}
.menu-title{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}
.social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}
.social-link{
    height: 100%;
    width: 30px;
    background-image:url(../multimedia/Instagram_icon-icons.com_66804.svg);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}
.social-link:hover{
    opacity: 0.7;
}
footer .social-link:nth-child(2){
    background-image: url(../multimedia/whatsapp_icon-icons.com_62756.svg);
}
footer .social-link:nth-child(3){
    background-image: url(../multimedia/Facebook_icon-icons.com_66805.svg);
}