*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#7B9FD7;
    font-family: 'Lato',sans-serif;
}
.contenedor{
    width: 100%;
    max-width: 1300px;
    padding: 50px 20px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.izquierda{
    padding-bottom: 20px;
    margin: 20px;
    position: relative;
}
.derecha{
    padding-bottom: 20px;
    margin:20px;
}

/* Formulario de Contacto */

.formulario-contacto{
    background: #fff;
    width: 100%;
    max-height: 930px;
    max-width: 930px;
    padding: 10px 15px 30px 25px;
    border-radius: 10px;
}
.formulario-contacto .form-text{
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}
.formulario-contacto .form-title{
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}
.formulario-contacto label{
    display: block;
    color: #7d8994;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
}
.formulario-contacto .grupo-input .formulario__input{
    border: 2px solid #CED6E0;
    border-radius: 3px;
    transition: .3s ease all;
    height: 45px;
    width: 385px;
    line-height: 45px;
    padding: 0px 40px 0 10px; 
    border-radius: 5px;
}
.formulario-contacto .grupo-input .formulario__input:focus{
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
} 
.formulario-contacto .grupo-select select:focus{
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
} 
.grupo-input .formulario__validacion-estado {
    position: relative;
    right: 35px;
    bottom: -2px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}
.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0px;
    display: none;
}
.formulario__input-error-activo {
    padding: 5px;
    font-size: 12px;
    margin-bottom: 0px;
    display: block;
}
.formulario-contacto__mensaje{
    margin-top: 15px;
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0px 15px;
    border-radius: 3px;
    display: none;
}
.formulario-contacto__mensaje-activo{
    display: block;
}
.formulario-contacto__mensaje p{
    margin: 0px;
    padding: 0px;
}
.formulario-contacto .flexbox{
    display: flex;
    justify-content: space-around;
}
.formulario-contacto .flexbox input{
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background: #2364d2;
    box-shadow: 2px 2px 10px 0px rgba(0,85,212,0.4);
    width: 180px;
    height: 45px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}
.formulario-contacto .flexbox input:hover{
    background: #1850b1;
}
.formulario-contacto .grupo-select{
    width: 100%;
    margin-right: 15px;
    position: relative;
}
.formulario-contacto select{
    border: 2px solid #CED6E0;
    height: 50px;
    width: 100%;
    padding: 5px 12px;
    transition: .3s ease all;
    border-radius: 5px;
    -webkit-appearance: none;
}
.formulario-contacto .btn-enviar{
    border: none;
    padding: 10px;
    font-size: 22px;
    color: #fff;
    background: #2364d2;
    box-shadow: 2px 2px 10px 0px rgba(0,85,212,0.4);
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
}
.formulario-contacto .btn-enviar:hover{
    background: #1850b1;
}
.formulario-contacto .grupo-select img{
    position: absolute;
    color: #CED6E0;
    top:18px;
    right: 15px;
    transition: .3s ease;
    width: 10px;
    height: 15px;
}
/* Estilos de estado de validacion */

.formulario__grupo-correcto .formulario__validacion-estado{
    color: #1ed12d;
    opacity: 1;
}
.formulario__grupo-incorrecto .formulario__label{
    color: #bb2929;
}
.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929 ;
    opacity: 1;
}
.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid #bb2929 !important;
}

/* Estilos generales de las tarjetas */


/* tarjeta delantera */
.tarjeta {
    width: 100%;
    width: 500px;
    max-width: 550px;
    position: relative;
    right: -45px;
    color: #fff;
    transition: .3s ease all;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    cursor: pointer;
    z-index: 2;
}
.tarjeta.active{
    transform: rotateY(180deg);
}
.tarjeta > div{
    padding: 30px;
    border-radius: 15px;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
}
.tarjeta .delantera{
    width: 100%;
    background: url(../multimedia/tarjeta-fondo.webp);
    background-size: cover;
}
.delantera .logo-marca{
    text-align: right;
    min-height: 50px;
}
.delantera .logo-marca img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 80px;
}
.delantera .chip{
    width: 100%;
    max-width: 50px;
    margin-bottom: 20px;
}
.delantera .grupo .label {
    font-size: 16px;
    color: #7d8994;
}
.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion{
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;

}
.delantera .flexbox{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Parte Trasera de La tarjeta */

.trasera {
    background: url(../multimedia/tarjeta-fondo-atras.webp);
    background-size: cover;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.trasera .barra-magnetica{
    height: 40px;
    background: #000;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
}
.trasera .datos{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.trasera .datos p{
    margin-bottom: 5px;
}
.trasera .datos #firma {
    width: 70%;
}
.trasera .datos #firma .firma {
    height: 40px;
    background: repeating-linear-gradient(#87ceeb 0 ,#87ceeb 5px , #ffa500 5px , #ffa500 10px);   
}
.trasera .datos #firma .firma p{
    line-height: 40px;
    font-family: 'Liu Jian Mao Cao',cursive;
    color: #000;
    font-size: 30px;
    padding: 0 10px;
    text-transform: capitalize;
}

.trasera .datos #CCV{
    width: 20%;
}
.trasera .datos #CCV .CCV{
    background: #fff;
    height: 40px;
    color:#000;
    padding: 10px;
    text-align: center;
}

.trasera .leyenda{
    font-size: 14px;
    line-height: 24px;
}
.trasera .link-banco{
    font-size: 14px;
    color: #fff;
}

/* Contenedor Boton */

.contenedor-btn .btn-abrir-formulario{
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 20px;
    background: #2364d2;
    color: #fff;
    position: relative;
    top: -25px;
    left: 277px;
    z-index: 3;
    border-radius: 100%;
    box-shadow: -5px 4px 8px rgba(24,56,182,04);
    padding: 5px 7px 5px;
    transition: all .2s ease;
    border: none;
    cursor: pointer;
}
.contenedor-btn .btn-abrir-formulario:hover{
    background: #1850b1;

}
.contenedor-btn .btn-abrir-formulario.active{
    transform: rotate(45deg);
}

/* Formulario de Tarjeta */

.formulario-tarjeta{
    background: #fff;
    width: 100%;
    width: 600px;
    max-width: 700px;
    padding: 150px 30px 0px 30px;
    border-radius: 10px;
    position: relative;
    top: -150px;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path .3s ease-out;
}
.formulario-tarjeta.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.formulario-tarjeta label{
    display: block;
    color: #7d8994;
    margin-bottom: 5px;
    font-size: 16px;
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.btn-enviar{
    border: 2px solid #CED6E0;
    height: 50px;
    width: 100%;
    padding: 5px 12px;
    transition: .3s ease all;
    border-radius: 5px;
}
.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover{
    border: 2px solid #93BDED;

}
.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus{
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
}
.formulario-tarjeta input{
    margin: 0;
    text-transform: uppercase;
}

.formulario-tarjeta .grupo-input .formulario__validacion-estado{
    position: relative;
    right: -505px;
    bottom: 35px;
    font-size: 20px;
}

.formulario-tarjeta .formulario__input-error-activo {
    position: relative;
    bottom: 16px;
    padding: 5px;
    font-size: 12px
}

.formulario-tarjeta .flexbox{
    display: flex;
    justify-content: space-between;
}
.formulario-tarjeta .expira{
    width: 100%;
}
.formulario-tarjeta .CCV{
    min-width: 100px;
}
.formulario-tarjeta .grupo-select{
    width: 100%;
    margin-right: 15px;
    position: relative;
}
.formulario-tarjeta select {
    -webkit-appearance: none;
}
.formulario-tarjeta .grupo-select img {
    position: absolute;
    color: #CED6E0;
    top:18px;
    right: 15px;
    transition: .3s ease;
    width: 10px;
    height: 15px;
}

.formulario-tarjeta .grupo-select:hover{
    color: #93bfed;
}
.formulario-tarjeta .btn-enviar{
    border: none;
    padding: 10px;
    font-size: 22px;
    color: #fff;
    background: #2364d2;
    box-shadow: 2px 2px 10px 0px rgba(0,85,212,0.4);
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;

}
.formulario-tarjeta .btn-enviar:hover{
    background: #1850b1;
}

@media (max-width: 576px) {
    
    .contenedor{
        padding:50px 0px;
        padding: 10px 15px 10px 25px;
    }
    .formulario-contacto h2{
        font-size: 28px;
        text-align: center;
    }
    .formulario-contacto p{
        margin: 0;
    }
    .formulario-contacto{
        width: 350px;
    }
    .formulario-contacto .flexbox input{
        font-size: 14px;
        width: 130px;
    }
    .grupo-input .formulario__validacion-estado {
        right: -285px;
        bottom: 32px;
    }
    .formulario-contacto .btn-enviar{
        height: 45px;
        margin-top: 15px;
        font-size: 18px;
    }
    .formulario__input-error-activo{
        position: relative;
        bottom: 16px;
    }
    .formulario-contacto .grupo-input .formulario__input{
        width: 310px;
    }
    .formulario-tarjeta .formulario-contacto__mensaje-activo{
        font-size: 12px;
    }
    .formulario-contacto__mensaje-activo{
        font-size: 12px;
    }
    .formulario-tarjeta .grupo-input .formulario__validacion-estado {
        right: -310px;
        bottom: 33px;
        font-size: 18px;

    }
    .tarjeta{
        right: -58px;
    }
    .tarjeta .delantera{
        width: 385px;
    }
    .tarjeta.active {
        right: 58px;
    }
    .tarjeta .trasera{
        width: 385px;
    }
    .trasera .barra-magnetica{
        left: 0px;
    }
    .formulario-tarjeta{
        width: 400px;
        top: -155px;
        right: -48px
    }
    .trasera .datos #firma .firma p{
        font-size: 28px;
    }
    .contenedor-btn .btn-abrir-formulario{
        left: 235px;
        top: -15px;
    }

}