/* Listado De Precios  */

.card-container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
}
.texto-catalogo{
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    padding: 20px;
    margin: auto 0;
    margin-top: 80px;
}
.delantera{
    background:#fff;
    width: 370px;
    height: 440px;
    margin: 40px;
    border-radius:15px;
    transform: rotate(0deg);
    transform-style: preserve-3d;
    transition: .3s ease all;
    z-index: 2;
}
.active{
    transform: rotateY(180deg);
}

.card1{
    background-image: url(../multimedia/banner1-pagina.webp);
    height: 440px;
    width: 370px;
    background-size: cover;
    border-radius: 10px;
}
.card2{
    background-image: url(../multimedia/banner2-pagina.webp);
    height: 440px;
    width: 370px;
    background-size: cover;
    border-radius: 10px;
}
.card3{
    background-image: url(../multimedia/banner3-pagina.webp);
    height: 440px;
    width: 370px;
    background-size: cover;
    border-radius: 10px;
}
.trasera{
    width: 370px;
    height: 440px;
    border-radius:10px;
    background-size: cover;
    transition: .3s ease all;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.trasera1{
    background: url(../multimedia/banners1-trasero.webp);
}
.trasera2{
    background: url(../multimedia/banners2-trasero.webp);
}
.trasera3{
    background: url(../multimedia/banners3-trasero.webp);
}
.delantera .btn-about{
    background: var(--button-main-color);
    border: 2px solid var(--cont-container-buttom-color);
    color:var(--main-text-color);
    position: relative;
    top: 375px;
    margin: 0 105px;
    z-index: 3;
    cursor: pointer;
}
.delantera .btn-about-trasero{
    background: var(--button-main-color);
    border: 2px solid var(--cont-container-buttom-color);
    color:var(--main-text-color);
    position: relative;
    top: 375px;
    margin: 0 105px;
    z-index: 3;
    cursor: pointer;
}